<ng-container [ngSwitch]="question.type">
  <app-multiple-choice-question *ngSwitchCase="'multipleChoice'" [control]="control" [question]="question">

  </app-multiple-choice-question>
  <app-text-question *ngSwitchCase="'text'" [control]="control" [question]="question"></app-text-question>
  <app-calendar-question *ngSwitchCase="'calendar'" [control]="control" [question]="question"></app-calendar-question>
  <app-yes-no-question *ngSwitchCase="'yesno'" [control]="control" [question]="question"></app-yes-no-question>
  <app-text-block-question *ngSwitchCase="'textBlock'" [control]="control"
                           [question]="question"></app-text-block-question>
  <div *ngSwitchDefault>
    The question type "{{question.type}}" is unknown.
  </div>
</ng-container>
