<mat-card>
  <mat-card-title>{{questionContainer.title | translate}}</mat-card-title>
  <mat-card-subtitle>{{questionContainer.description | translate}}</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngFor="let entry of questionContainer.questionEntries; trackBy: trackByQuestionEntryId">
      <ng-container *ngIf="!(entry.isHidden && entry.isHidden(context))">
        <app-question-selector
          [control]="group.controls[entry.question.id]"
          [question]="entry.question"></app-question-selector>
      </ng-container>
    </ng-container>

  </mat-card-content>
  <mat-card-actions>
    <button (click)="goBack.next()" color="primary" mat-button>{{questionContainer.previousText | translate}}</button>
    <button color="primary" mat-button>{{questionContainer.nextText | translate}}</button>
  </mat-card-actions>
</mat-card>
